.body {
    width: 100%;
    height: 100%;
}

.currentPage {
    width: 100%;
    height: 100%;
    overflow: auto;
        }

.myGrid2 {
  
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  background-color: transparent;
   
}
#Title {
  background:  #FFFF01;
  border: #008918 12px solid;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  text-align: left;
  color: #008918;
  padding: 10px 10px 10px 10px;
  margin: 120px 30px 10px 120px;
}
.Question {
  background:  #FFFF01;
  border: #008918 12px solid;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  text-align: left;
  color: #008918;
  padding: 10px 10px 10px 10px;
  margin: 120px 120px 10px 30px;
  }


